<template>
  <div>
    <h1>{{physicalQuantity.name}}</h1>
    <div>
      <div class="row">
        <select class="form-select" v-model="fromUnit">
          <option v-for="(unit, index) in physicalQuantity.units" :key="index">
            {{unit}}
          </option>
        </select>
        <input class="form-input" type="text" v-model="fromVal">
      </div>
      <div class="row">
        <select class="form-select" v-model="resultUnit">
          <option v-for="(unit, index) in physicalQuantity.units" :key="index">
          {{unit}}
          </option>
        </select>
        <input class="form-input" type="text" v-model="result"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Converter',
  props: ['physicalQuantity'],
  data() {
    return {
      fromVal: 1,
      fromUnit: '',
      resultUnit: ''
    }
  },
  methods: {
    toMinutes(value, unit) {
      event.preventDefault()
      switch (unit) {
        case 's':
          return value / 60
        case 'min':
          return value
        case 'h':
          return value * 60
        default:
          return value
      }
    },
    toMeters(value, unit) {
      event.preventDefault()
      switch (unit) {
        case 'mm':
          return value / 1000
        case 'cm':
          return value / 100
        case 'm':
          return value
        default:
          return value
      }
    },
    toCelsius(value, unit) {
      event.preventDefault()
      switch (unit) {
        case 'C':
          return value
        case 'F':
          return ((value - 32) * 5) / 9
        case 'K':
          return value - 273.15
        default:
          return value
      }
    }
  },
  computed: {
    result: function() {
      let value = parseFloat(this.fromVal)
      if (isFinite(value)) {
        switch (this.physicalQuantity.name) {
          case 'Time': {
            /* ------------T I M E-------------*/
            let valueInMinutes = this.toMinutes(value, this.fromUnit)
            switch (this.resultUnit) {
              case 's':
                return parseFloat((valueInMinutes * 60).toFixed(5))
              case 'min':
                return parseFloat(valueInMinutes.toFixed(5))
              case 'h':
                return parseFloat((valueInMinutes / 60).toFixed(5))
              default:
                return 'Select something'
            }
          }
          /* ----------------------------*/
          case 'Length': {
            /* ------------L E N G T H-------------*/
            let valueInMeters = this.toMeters(value, this.fromUnit)
            switch (this.resultUnit) {
              case 'mm':
                return parseFloat((valueInMeters * 1000).toFixed(5))
              case 'cm':
                return parseFloat((valueInMeters * 100).toFixed(5))
              case 'm':
                return parseFloat(valueInMeters.toFixed(5))
              default:
                return 'Select something'
            }
          }
          case 'Temperature': {
            /* ------------T E M P E R A T U R E-------------*/
            let valueInCelsius = this.toCelsius(value, this.fromUnit)
            switch (this.resultUnit) {
              case 'C':
                return parseFloat(valueInCelsius.toFixed(5))
              case 'K':
                return parseFloat((valueInCelsius + 273.15).toFixed(5))
              case 'F':
                return parseFloat((valueInCelsius * 1.8 + 32).toFixed(5))
              default:
                return 'Select something'
            }
          }
        }
      }
      return 'Select something'
    }
  }
}
</script>

<style scoped>
.container {
  max-width: 960px;
}
.form-input > *,
.form-input > *:focus,
.form-input > *:hover,
.form-select > *,
.form-select > *:focus,
.form-select > *:hover {
  outline: none;
}
.form-input {
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #009688;
  font-size: 1em;
}
.form-select {
  height: 40px;
  width: 50px;
  margin-right: 10px;
  font-size: 1em;
  color: #fff;
  background: #009688;
}
.row {
  margin-bottom: 10px;
}
</style>
