<template>
  <nav class="nav">
    <img alt="Vue logo" src="../assets/logo.png" class="logo">
    <div class="menu">
      <a v-for="quantity in quantities" 
      :key="quantity.name"
      @click="$emit('select-quantity', quantity)">
        {{quantity.name}}
      </a>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      quantities: [
        { name: 'Length', units: ['mm', 'cm', 'm'] },
        { name: 'Temperature', units: ['C', 'F', 'K'] },
        { name: 'Time', units: ['s', 'min', 'h'] }
      ],
      selected: 'Length'
    }
  }
}
</script>

<style scoped>
.nav {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  grid-template-columns: 1fr 11fr;
  align-items: center;
}
.nav a {
  transition: all 0.6s ease-in-out;
}
.nav a:hover,
.nav a:focus {
  box-shadow: 1px 0px 7px 1px #009688;
  padding: 10px 5px;
}
.logo {
  width: 100%;
}
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}
</style>
