<template>
  <div id="app">
    <Navbar @select-quantity="chosenQuantity = $event"></Navbar>
    <Converter :physicalQuantity="chosenQuantity"></Converter>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Converter from './components/Converter.vue'

export default {
  name: 'app',
  components: {
    Navbar,
    Converter
  },
  data() {
    return {
      chosenQuantity: { name: 'Time', id: 2, units: ['s', 'm', 'h'] }
    }
  }
}
</script>

<style>
body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#app {
  display: flex;
  flex-direction: column;
}
</style>
